

.mat-column-id{
  width: 200px;
}


.mat-column-code{
  width: 80px;
}

td.mat-column-modelName{
  color: darkblue;
  font-weight: bold;

}

.mat-column-modelCategory{
  width: 100px;
}

.mat-column-modelEngineType{
  width: 100px;
}

.mat-column-modelPrice{
  width: 100px;
}

.mat-column-action{
  width:200px;
  text-align: center;

}
